/* estiloDataTable.css */

/* Estilo da tabela */
/* Estilo da barra de pesquisa */
div.dataTables_wrapper div.dataTables_filter input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px;
}

/* Estilo dos botões de navegação */
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    border-radius: 5px;
}

/* Estilo da seleção de itens por página */
div.dataTables_wrapper div.dataTables_length select {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px;
}



#ProdutosCadastrados tr:nth-child(even) {
    background-color: #f8f9fa; /* Cor mais clara para linhas pares */
}

#ProdutosCadastrados tr:nth-child(odd) {
    background-color: #fff; /* Cor branca para linhas ímpares */
}

/* Sombreamento leve nas linhas */
#ProdutosCadastrados tr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombreamento leve */
    transition: background-color 0.3s ease-in-out; /* Transição suave de cor de fundo */
}

    /* Efeito de realce ao passar o mouse sobre a linha */
    #ProdutosCadastrados tr:hover {
        background-color: #e2e6ea; /* Cor mais clara ao passar o mouse */
    }


#ProdutosCadastrados.table.dataTable.no-footer {
    border-bottom: none;
}



/*para tabela defe fornecedores*/
#FornecedoresCadastrados tr:nth-child(even) {
    background-color: #f8f9fa; /* Cor mais clara para linhas pares */
}

#FornecedoresCadastrados tr:nth-child(odd) {
    background-color: #fff; /* Cor branca para linhas ímpares */
}

/* Sombreamento leve nas linhas */
#FornecedoresCadastrados tr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombreamento leve */
    transition: background-color 0.3s ease-in-out; /* Transição suave de cor de fundo */
}

    /* Efeito de realce ao passar o mouse sobre a linha */
    #FornecedoresCadastrados tr:hover {
        background-color: #e2e6ea; /* Cor mais clara ao passar o mouse */
    }


#FornecedoresCadastrados.table.dataTable.no-footer {
    border-bottom: none;
}