.required {
    color: red;
}

.btn-desativado {
    background-color: #f8f9fa; /* ou qualquer outra cor mais clara desejada */
    border-color: #f8f9fa;
    color: #6c757d; /* ou qualquer outra cor de texto desejada */
}

.produto-thumbnail {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

    .produto-thumbnail:hover {
        transform: scale(1.1);
    }