@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SistemaBico.Web.Models.ProfessionalProfileDto;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section Head{}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Details-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Preencha as informações para criar um perfil profissional</h5>
                <!--end::Title-->
                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->
                <!--begin::Search Form-->
                <div class="d-flex align-items-center" id="kt_subheader_search">
                    <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">Preencha corretamente seus dados</span>
                </div>
                <!--end::Search Form-->
            </div>
            <!--end::Details-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Button-->
                <a href="#" class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">Back</a>
                <!--end::Button-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Card-->
            <div class="card card-custom card-transparent">
                <div class="card-body p-0">
                    <!--begin::Wizard-->
                    <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="true">
                        <!--begin::Wizard Nav-->
                        <div class="wizard-nav">
                            <div class="wizard-steps">
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">1</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Perfil Profissional</div>
                                            <div class="wizard-desc">Informações Profissionais</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-step" data-wizard-type="step">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">2</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Endereço</div>
                                            <div class="wizard-desc">Preencha seu endereço profissional</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-step" data-wizard-type="step">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">2</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Termo de Uso</div>
                                            <div class="wizard-desc">Assine o termo de uso</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Wizard Nav-->
                        <!--begin::Card-->
                        <div class="card card-custom card-shadowless rounded-top-0">
                            <!--begin::Body-->
                            <div class="card-body p-0">
                                <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                                    <div class="col-xl-12 col-xxl-10">
                                        <!--begin::Wizard Form-->
                                        <form class="form mt-0 mt-lg-10" id="kt_form" action="ProfessionalProfile/register" method="post" novalidate="novalidate" enctype="multipart/form-data">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-9">
                                                    <!--begin::Wizard Step 1-->
                                                    <div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
                                                        <h5 class="text-dark font-weight-bold mb-10">Detalhes Perfil Profissional:</h5>
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label text-left">Foto</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <div class="image-input image-input-outline" id="kt_user_add_avatar">
                                                                    <div class="image-input-wrapper" style="background-image: url(assets/media/users/default.jpg)"></div>
                                                                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                                        <i class="fa fa-pen icon-sm text-muted"></i>
                                                                        <input type="file" accept=".png, .jpg, .jpeg" asp-for="File" />
                                                                        <input type="hidden" name="profile_avatar_remove" />
                                                                    </label>
                                                                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                                                                    </span>
                                                                </div>
                                                                <span class="form-text text-muted">Coloque uma foto para seu perfil de pestação de serviço, você pode colocar uma foto sua ou de sua empresa.<br />Utilize fotos com o tamanho de até 120x120, caso contrário, poderá afetar a qualidade da foto.</span>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nome</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <input class="form-control form-control-solid form-control-lg" asp-for="Name" name="Name" id="Name" type="text" maxlength="100" />
                                                                <span class="form-text text-muted">Você pode inserir a razão social se for uma empresa.</span>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Sobrenome</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <input class="form-control form-control-solid form-control-lg" asp-for="LastName" name="LastName" id="LastName" type="text" maxlength="100" />
                                                                <span class="form-text text-muted">Você pode inserir o nome fantasia se for uma empresa.</span>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Telefone de contato</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <div class="input-group input-group-solid input-group-lg">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-phone"></i>
                                                                            <code>(XX)XXXXXXXXX</code>
                                                                        </span>
                                                                    </div>
                                                                    <input type="text" id="kt_maxlength_1" onkeyup="handlePhone(event)" maxlength="14" class="form-control form-control-solid form-control-lg kt_inputmask_3" asp-for="Phone" name="Phone" id="Phone" value="" placeholder="Celular" />
                                                                </div>
                                                                <span class="form-text text-muted">Insira o número de telefone válido.</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Área de atuação</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <select class="form-control" id="kt_select2_1_modal" name="Area" name="Area" asp-for="Area">
                                                                    <option value="1">Assistência Técnica</option>
                                                                    <option value="2">Aulas</option>
                                                                    <option value="3">Autos</option>
                                                                    <option value="4">Consultoria</option>
                                                                    <option value="5">Design/Tecnologia</option>
                                                                    <option value="6">Eventos</option>
                                                                    <option value="7">Moda e Beleza</option>
                                                                    <option value="8">Reformas e Reparos</option>
                                                                    <option value="9">Saúde</option>
                                                                    <option value="10">Serviços Domésticos</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Profissão</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control form-control-lg form-control-solid" type="text" name="Profession" asp-for="Profession" value="" maxlength="100" placeholder="Ex: Professor" />
                                                                <span class="form-text text-muted">Preencha sua profissão corretamente, ela irá aparecer no seu perfil. Ex: Professor</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Especialidade</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <select class="form-control select2" id="kt_select2_11" multiple="multiple" name="Especiality" asp-for="Especiality" placeholder="Selecione até 5 especialidade(s)">
                                                                    <optgroup label="Assistência Técnica">
                                                                        <option value="Assistência Adega Climatizada">Assistência Adega Climatizada</option>
                                                                        <option value="Assistência Aparelho de Som">Assistência Aparelho de Som</option>
                                                                        <option value="Assistência Aparelhos de Ginástica">Assistência Aparelhos de Ginástica</option>
                                                                        <option value="Assistência Aquecedor a Gás">Assistência Aquecedor a Gás</option>
                                                                        <option value="Assistência Ar condicionado">Assistência Ar condicionado</option>
                                                                        <option value="Assistência Cabeamento e Redes">Assistência Cabeamento e Redes</option>
                                                                        <option value="Assistência Celular">Assistência Celular</option>
                                                                        <option value="Assistência Computador/Notebook">Assistência Computador/Notebook</option>
                                                                        <option value="Assistência Cortador de Grama">Assistência Cortador de Grama</option>
                                                                        <option value="Assistência Câmera">Assistência Câmera</option>
                                                                        <option value="Assistência Eletrodomésticos">Assistência Eletrodomésticos</option>
                                                                        <option value="Assistência Fogão e cooktop">Assistência Fogão e cooktop</option>
                                                                        <option value="Assistência Fone de Ouvido">Assistência Fone de Ouvido</option>
                                                                        <option value="Assistência Geladeira e freezer">Assistência Geladeira e freezer</option>
                                                                        <option value="Assistência Gerador">Assistência Gerador</option>
                                                                        <option value="Assistência Home theater">Assistência Home theater</option>
                                                                        <option value="Assistência Impressora">Assistência Impressora</option>
                                                                        <option value="Assistência Instrumentos Musicais">Assistência Instrumentos Musicais</option>
                                                                        <option value="Assistência Lava Louça">Assistência Lava Louça</option>
                                                                        <option value="Assistência Lava roupa">Assistência Lava roupa</option>
                                                                        <option value="Assistência Micro-ondas">Assistência Micro-ondas</option>
                                                                        <option value="Assistência Notebooks e Laptops">Assistência Notebooks e Laptops</option>
                                                                        <option value="Assistência Relógios">Assistência Relógios</option>
                                                                        <option value="Assistência Secadora de Roupas">Assistência Secadora de Roupas</option>
                                                                        <option value="Assistência Smartwatch">Assistência Smartwatch</option>
                                                                        <option value="Assistência Tablet">Assistência Tablet</option>
                                                                        <option value="Assistência Televisão">Assistência Televisão</option>
                                                                        <option value="Assistência Vídeo game">Assistência Vídeo game</option>
                                                                    </optgroup>
                                                                    <optgroup label="Aulas">
                                                                        <option value="Aulas Artes">Aulas Artes</option>
                                                                        <option value="Aulas Artesanato">Aulas Artesanato</option>
                                                                        <option value="Aulas Desenvolvimento Web">Aulas Desenvolvimento Web</option>
                                                                        <option value="Aulas Escolares e Reforço<">Aulas Escolares e Reforço</option>
                                                                        <option value="Aulas Esportes Eletrônicos">Aulas Esportes Eletrônicos</option>
                                                                        <option value="Aulas Fotografia">Aulas Fotografia</option>
                                                                        <option value="Aulas Gastronomia">Aulas Gastronomia</option>
                                                                        <option value="Aulas Idiomas">Aulas Idiomas</option>
                                                                        <option value="Aulas Informática">Aulas Informática</option>
                                                                        <option value="Aulas Luta">Aulas Luta</option>
                                                                        <option value="Aulas Marketing Digital">Aulas Marketing Digital</option>
                                                                        <option value="Aulas Moda">Aulas Moda</option>
                                                                        <option value="Aulas Música">Aulas Música</option>
                                                                        <option value="Aulas Paisagismo">Aulas Paisagismo</option>
                                                                        <option value="Aulas Saúde">Aulas Saúde</option>
                                                                        <option value="Aulas TV e Teatro">Aulas TV e Teatro</option>
                                                                    </optgroup>
                                                                    <optgroup label="Autos">
                                                                        <option value="Alarme">Alarme</option>
                                                                        <option value="Ar Condicionado Automotivo">Ar Condicionado Automotivo</option>
                                                                        <option value="Auto elétrico<">Auto elétrico</option>
                                                                        <option value="Borracharia">Borracharia</option>
                                                                        <option value="Funilaria Automotiva">Funilaria Automotiva</option>
                                                                        <option value="Guincho">Guincho</option>
                                                                        <option value="Higienização e Polimento">Higienização e Polimento</option>
                                                                        <option value="Insulfilm">Insulfilm</option>
                                                                        <option value="Martelinho de Ouro">Martelinho de Ouro</option>
                                                                        <option value="Mecânica Geral">Mecânica Geral</option>
                                                                        <option value="Pintura">Pintura</option>
                                                                        <option value="Som Automotivo">Som Automotivo</option>
                                                                        <option value="Venda de Automóveis">Venda de Automóveis</option>
                                                                        <option value="Vidraçaria Automotiva">Vidraçaria Automotiva</option>
                                                                    </optgroup>
                                                                    <optgroup label="Consultoria">
                                                                        <option value="Administração de Condomínios">Administração de Condomínios</option>
                                                                        <option value="Administração de Imóveis">Administração de Imóveis</option>
                                                                        <option value="Advogado">Advogado</option>
                                                                        <option value="Assessor de Investimentos">Assessor de Investimentos</option>
                                                                        <option value="Assessoria de Imprensa">Assessoria de Imprensa</option>
                                                                        <option value="Auditoria e Assuntos Regulatórios">Auditoria e Assuntos Regulatórios</option>
                                                                        <option value="Auxilio administrativo">Auxilio administrativo</option>
                                                                        <option value="Consultor pessoal">Consultor pessoal</option>
                                                                        <option value="Contador">Contador</option>
                                                                        <option value="Corretor">Corretor</option>
                                                                        <option value="Despachante">Despachante</option>
                                                                        <option value="Detetive Particular">Detetive Particular</option>
                                                                        <option value="Digitação e Digitalização de Documentos">Digitação e Digitalização de Documentos</option>
                                                                        <option value="Economia e Finanças">Economia e Finanças</option>
                                                                        <option value="Escrita e Conteúdo">Escrita e Conteúdo</option>
                                                                        <option value="Guia de Turismo">Guia de Turismo</option>
                                                                        <option value="Mediação de Conflitos">Mediação de Conflitos</option>
                                                                        <option value="Palestrantes">Palestrantes</option>
                                                                        <option value="Pesquisas em geral">Pesquisas em geral</option>
                                                                        <option value="Produção, padronização e revisão de conteúdo">Produção, padronização e revisão de conteúdo</option>
                                                                        <option value="Recrutamento e Seleção">Recrutamento e Seleção</option>
                                                                        <option value="Segurança do Trabalho">Segurança do Trabalho</option>
                                                                        <option value="Testamento e Planejamento Patrimonial">Testamento e Planejamento Patrimonial</option>
                                                                        <option value="Tradução">Tradução</option>
                                                                        <option value="Tradução Juramentada">Tradução Juramentada</option>
                                                                        <option value="Treinamentos">Treinamentos</option>
                                                                    </optgroup>
                                                                    <optgroup label="Design/Tecnologia">
                                                                        <option value="Animação (Motion)">Animação (Motion)</option>
                                                                        <option value="Aplicativos para celular e redes sociais">Aplicativos para celular e redes sociais</option>
                                                                        <option value="Autocad e Modelagem 3D">Autocad e Modelagem 3D</option>
                                                                        <option value="Convites">Convites</option>
                                                                        <option value="Corte e Gravação a Laser">Corte e Gravação a Laser</option>
                                                                        <option value="Criação de Logos">Criação de Logos</option>
                                                                        <option value="Criação de Marca">Criação de Marca</option>
                                                                        <option value="Desenvolvimento de Game">Desenvolvimento de Games</option>
                                                                        <option value="Desenvolvimento de Sites e Sistemas">Desenvolvimento de Sites e Sistemas</option>
                                                                        <option value="Diagramador">Diagramador</option>
                                                                        <option value="Edição de Foto">Edição de Fotos</option>
                                                                        <option value="Ilustração">Ilustração</option>
                                                                        <option value="Marketing Online">Marketing Online</option>
                                                                        <option value="Materiais promocionais">Materiais promocionais</option>
                                                                        <option value="Panfletagem">Panfletagem</option>
                                                                        <option value="Produção gráfica">Produção gráfica</option>
                                                                        <option value="Restauração de Fotos">Restauração de Fotos</option>
                                                                        <option value="Serviços de TI07">Serviços de TI</option>
                                                                        <option value="Soluções em Streaming">Soluções em Streaming</option>
                                                                        <option value="Ilustração">Ilustração</option>
                                                                        <option value="Ux - Ui Design">Ux - Ui Design</option>
                                                                        <option value="Web Design">Web Design</option>
                                                                        <option value="Áudio e Vídeo">Áudio e Vídeo</option>
                                                                        <option value="Outro">Outro</option>
                                                                    </optgroup>
                                                                    <optgroup label="Eventos">
                                                                        <option value="Animação de Festas">Animação de Festas</option>
                                                                        <option value="Assessor de Eventos">Assessor de Eventos</option>
                                                                        <option value="Bandas e cantores">Bandas e cantores</option>
                                                                        <option value="Bartenders">Bartenders</option>
                                                                        <option value="Brindes e Lembrancinhas">Brindes e Lembrancinhas</option>
                                                                        <option value="Buffet Completo">Buffet Completo</option>
                                                                        <option value="Carros de Casamento">Carros de Casamento</option>
                                                                        <option value="Casting para Eventos">Casting para Eventos</option>
                                                                        <option value="Celebrantes">Celebrantes</option>
                                                                        <option value="Chocolateiro">Chocolateiro</option>
                                                                        <option value="Churrasqueiro24">Churrasqueiro</option>
                                                                        <option value="Confeitaria">Confeitaria</option>
                                                                        <option value="Decoração">Decoração</option>
                                                                        <option value="Djs">Djs</option>
                                                                        <option value="quipamentos para festas">Equipamentos para festas</option>
                                                                        <option value="Florista">Florista</option>
                                                                        <option value="Food Truck">Food Truck</option>
                                                                        <option value="Fotografia">Fotografia</option>
                                                                        <option value="Garçons e Copeiras">Garçons e Copeiras</option>
                                                                        <option value="Gravação de Vídeos">Gravação de Vídeos</option>
                                                                        <option value="Manobrista">Manobrista</option>
                                                                        <option value="Organização de Eventos">Organização de Eventos</option>
                                                                        <option value="Personal Chef">Personal Chef</option>
                                                                        <option value="Recepcionistas e Cerimonialistas">Recepcionistas e Cerimonialistas</option>
                                                                        <option value="Segurança">Segurança</option>
                                                                        <option value="Sommelier">Sommelier</option>
                                                                        <option value="Ônibus Balada">Ônibus Balada</option>
                                                                    </optgroup>
                                                                    <optgroup label="Moda e Beleza">
                                                                        <option value="Alfaiate">Alfaiate</option>
                                                                        <option value="Artesanato">Artesanato</option>
                                                                        <option value="Barbeiro">Barbeiro</option>
                                                                        <option value="Bronzeamento">Bronzeamento</option>
                                                                        <option value="Cabeleireiros">Cabeleireiros</option>
                                                                        <option value="Corte e costura">Corte e costura</option>
                                                                        <option value="Depilação">Depilação</option>
                                                                        <option value="Designer de Cílios">Designer de Cílios</option>
                                                                        <option value="Designer de Sobrancelhas">Designer de Sobrancelhas</option>
                                                                        <option value="Esotérico">Esotérico</option>
                                                                        <option value="Esteticista">Esteticista</option>
                                                                        <option value="Manicure e pedicure">Manicure e pedicure</option>
                                                                        <option value="Maquiadores">Maquiadores</option>
                                                                        <option value="Micropigmentador">Micropigmentador</option>
                                                                        <option value="Ourives">Ourives</option>
                                                                        <option value="Personal Stylist">Personal Stylist</option>
                                                                        <option value="Podólogo">Podólogo</option>
                                                                        <option value="Sapateiro">Sapateiro</option>
                                                                        <option value="Visagista">Visagista</option>
                                                                    </optgroup>
                                                                    <optgroup label="Reformas e Reparos">
                                                                        <option value="Afiação">Afiação</option>
                                                                        <option value="Agrimensura">Agrimensura</option>
                                                                        <option value="Aluguel de Grandes Equipamentos de Construção">Aluguel de Grandes Equipamentos de Construção</option>
                                                                        <option value="Aluguel de Maquinário">Aluguel de Maquinário</option>
                                                                        <option value="Antenista">Antenista</option>
                                                                        <option value="Análises Ambientais">Análises Ambientais</option>
                                                                        <option value="Arquiteto">Arquiteto</option>
                                                                        <option value="Automação Residencial">Automação Residencial</option>
                                                                        <option value="Banheira">Banheira</option>
                                                                        <option value="Casas e Chalés de Madeira">Casas e Chalés de Madeira</option>
                                                                        <option value="Chaveiro">Chaveiro</option>
                                                                        <option value="Climatização">Climatização</option>
                                                                        <option value="Coifas e Exaustores">Coifas e Exaustores</option>
                                                                        <option value="Concretagem">Concretagem</option>
                                                                        <option value="Decorador">Decorador</option>
                                                                        <option value="Dedetizador">Dedetizador</option>
                                                                        <option value="Demolição">Demolição</option>
                                                                        <option value="Desentupidor">Desentupidor</option>
                                                                        <option value="Banheira">Banheira</option>
                                                                        <option value="Design de Interiores">Design de Interiores</option>
                                                                        <option value="Desinfecção">Desinfecção</option>
                                                                        <option value="Dutos">Dutos</option>
                                                                        <option value="Eletricista">Eletricista</option>
                                                                        <option value="Empreiteiro">Empreiteiro</option>
                                                                        <option value="Encanador">Encanador</option>
                                                                        <option value="Energia Solar">Energia Solar</option>
                                                                        <option value="Engenheiro">Engenheiro</option>
                                                                        <option value="Escada, Corrimão e Guarda-Corpo">Escada, Corrimão e Guarda-Corpo</option>
                                                                        <option value="Fossa">Fossa</option>
                                                                        <option value="Galvanização">Galvanização</option>
                                                                        <option value="Gesso e DryWall">Gesso e DryWall</option>
                                                                        <option value="Gás">Gás</option>
                                                                        <option value="Escavação">Escavação</option>
                                                                        <option value="Impermeabilizador">Impermeabilizador</option>
                                                                        <option value="Instalador TV Digital">Instalador TV Digital</option>
                                                                        <option value="Instalação de eletrônicos">Instalação de eletrônicos</option>
                                                                        <option value="Instalação de Papel de Parede">Instalação de Papel de Parede</option>
                                                                        <option value="Isolamentos Térmico e Acústico">Isolamentos Térmico e Acústico</option>
                                                                        <option value="Jardinagem">Jardinagem</option>
                                                                        <option value="Lareira">Lareira</option>
                                                                        <option value="Lazer e Recreação">Lazer e Recreação</option>
                                                                        <option value="Limpeza de Vidros">Limpeza de Vidros</option>
                                                                        <option value="Limpeza Pós Obra">Limpeza Pós Obra</option>
                                                                        <option value="Marceneiro">Marceneiro</option>
                                                                        <option value="Marido de aluguel">Marido de aluguel</option>
                                                                        <option value="Marmoraria e Granitos">Marmoraria e Granitos</option>
                                                                        <option value="Montador de Móveis">Montador de Móveis</option>
                                                                        <option value="Mudanças e Carretos">Mudanças e Carretos</option>
                                                                        <option value="Paisagista">Paisagista</option>
                                                                        <option value="Pavimentação">Pavimentação</option>
                                                                        <option value="Pedreiro">Pedreiro</option>
                                                                        <option value="Pintor">Pintor</option>
                                                                        <option value="Piscina">Piscina</option>
                                                                        <option value="Portão Automático">Portão Automático</option>
                                                                        <option value="Poço Artesiano">Poço Artesiano</option>
                                                                        <option value="Prevenção e Combate a Incêndio">Prevenção e Combate a Incêndio</option>
                                                                        <option value="Reciclagem">Reciclagem</option>
                                                                        <option value="Redes de Proteção">Redes de Proteção</option>
                                                                        <option value="Remoção de Entulho">Remoção de Entulho</option>
                                                                        <option value="Restauração e Polimento de Pisos">Restauração e Polimento de Pisos</option>
                                                                        <option value="Segurança Eletrônica">Segurança Eletrônica</option>
                                                                        <option value="Segurança Perimetral">Segurança Perimetral</option>
                                                                        <option value="Serralheria e Solda">Serralheria e Solda</option>
                                                                        <option value="Sonorização de Ambientes">Sonorização de Ambientes</option>
                                                                        <option value="Tapeceiro">Tapeceiro</option>
                                                                        <option value="Terraplanagem">Terraplanagem</option>
                                                                        <option value="Toldos e Coberturas">Toldos e Coberturas</option>
                                                                        <option value="Topografia">Topografia</option>
                                                                        <option value="Vidraceiro">Vidraceiro</option>
                                                                    </optgroup>
                                                                    <optgroup label="Saúde">
                                                                        <option value="Aconselhamento Conjugal e Familiar">Aconselhamento Conjugal e Familiar</option>
                                                                        <option value="Biomedicina Estética">Biomedicina Estética</option>
                                                                        <option value="Coach">Coach</option>
                                                                        <option value="Cuidador de Pessoas">Cuidador de Pessoas</option>
                                                                        <option value="Dentista">Dentista</option>
                                                                        <option value="Enfermeira">Enfermeira</option>
                                                                        <option value="Fisioterapeuta">Fisioterapeuta</option>
                                                                        <option value="Fonoaudiólogo">Fonoaudiólogo</option>
                                                                        <option value="Hipnoterapia">Hipnoterapia</option>
                                                                        <option value="Médico">Médico</option>
                                                                        <option value="Nutricionista">Nutricionista</option>
                                                                        <option value="Psicanalista">Psicanalista</option>
                                                                        <option value="Psicólogo">Psicólogo</option>
                                                                        <option value="Quiropraxia">Quiropraxia</option>
                                                                        <option value="Remoção de Tatuagem">Remoção de Tatuagem</option>
                                                                        <option value="Terapia Ocupacional">Terapia Ocupacional</option>
                                                                        <option value="Terapias Alternativas">Terapias Alternativas</option>
                                                                    </optgroup>
                                                                    <optgroup label="Serviços Domésticos">
                                                                        <option value="Adestrador de Cães">Adestrador de Cães</option>
                                                                        <option value="Babá">Babá</option>
                                                                        <option value="Cozinheira">Cozinheira</option>
                                                                        <option value="Diarista">Diarista</option>
                                                                        <option value="Governanta">Governanta</option>
                                                                        <option value="Lavadeira">Lavadeira</option>
                                                                        <option value="Lavagem de Cortinas, Persianas e Tapetes">Lavagem de Cortinas, Persianas e Tapetes</option>
                                                                        <option value="Limpeza de Carpetes">Limpeza de Carpetes</option>
                                                                        <option value="Limpeza de Piscina">Limpeza de Piscina</option>
                                                                        <option value="Motorista">Motorista</option>
                                                                        <option value="Passadeira">Passadeira</option>
                                                                        <option value="Passeador de Cães">Passeador de Cães</option>
                                                                        <option value="Personal Organizer">Personal Organizer</option>
                                                                        <option value="Personal Shopper">Personal Shopper</option>
                                                                        <option value="Segurança Particular">Segurança Particular</option>
                                                                        <option value="Segurança Patrimonial">Segurança Patrimonial</option>
                                                                        <option value="Serviços para Pets">Serviços para Pets</option>
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Sobre Minha Carreira</label>
                                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                                <textarea class="form-control" name="Sobre" id="Sobre" maxlength="300" placeholder="" asp-for="Sobre" rows="6"></textarea>
                                                                <span class="form-text text-muted">Escreva aqui tudo sobre sua carreira profissional </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--end::Wizard Step 1-->
                                                    <!--begin::Wizard Step 2-->
                                                    <div class="my-5 step" data-wizard-type="step-content">
                                                        <h5 class="mb-10 font-weight-bold text-dark">Endereço</h5>
                                                        <div class="row">
                                                            <div class="col-xl-3">
                                                                <!--begin::Group-->
                                                                <div class="form-group">
                                                                    <label>CEP</label>
                                                                    <input type="text" onblur="pesquisacep(this.value);" maxlength="8" class="form-control form-control-solid form-control-lg" name="CEP" asp-for="CEP" id="CEP" placeholder="CEP" value="" />
                                                                    <span class="form-text text-muted">Preencha seu CEP. Ex: XXXXXXXX.</span>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="col-xl-6">
                                                                <div class="form-group">
                                                                    <label>Cidade</label>
                                                                    <input type="text" class="form-control form-control-solid form-control-lg" name="City" asp-for="City" id="City" placeholder="Cidade"  maxlength="100" value=""  />
                                                                    <span class="form-text text-muted">Preencha a cidade.</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3">
                                                                <!--begin::Group-->
                                                                <div class="form-group">
                                                                    <label>UF</label>
                                                                    <input type="text" class="form-control form-control-solid form-control-lg" name="State" asp-for="State" id="State" placeholder="UF" maxlength="2" value="" />
                                                                    <span class="form-text text-muted">Preencha seu estado.</span>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-8">
                                                                <!--begin::Group-->
                                                                <div class="form-group">
                                                                    <label>Logradouro(Endereço)</label>
                                                                    <input type="text" class="form-control form-control-solid form-control-lg" id="Logradouro" asp-for="Logradouro" name="Logradouro" placeholder="Logradouro" maxlength="100" value="" />
                                                                    <span class="form-text text-muted">Preencha seu logradouro.</span>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="col-xl-4">
                                                                <div class="form-group">
                                                                    <label>Número</label>
                                                                    <input type="text" class="form-control form-control-solid form-control-lg" name="Number" asp-for="Number" id="Number" placeholder="Número" maxlength="10" value="" />
                                                                    <span class="form-text text-muted">Preencha o número da casa ou estabelecimento.</span>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-6">
                                                                <!--begin::Group-->
                                                                <div class="form-group">
                                                                    <label>Bairro</label>
                                                                    <input type="text" class="form-control form-control-solid form-control-lg" name="Bairro" asp-for="Bairro" id="Bairro" placeholder="Bairro" maxlength="100" value="" />
                                                                    <span class="form-text text-muted">Preencha o bairro.</span>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="col-xl-6">
                                                                <div class="form-group">
                                                                    <label>Complemento</label>
                                                                    <input type="text" class="form-control form-control-solid form-control-lg" name="Complemento" asp-for="Complemento" id="Complemento" placeholder="Complemento" maxlength="100" value="" />
                                                                    <span class="form-text text-muted">Preencha seu complemento (se tiver).</span>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                        </div>

                                                        <!--end::Row-->
                                                        <!--begin::Row-->
                                                    </div>
                                                    <!--end::Wizard Step 2-->
                                                    <!--begin::Wizard Step 3-->
                                                    <div class="my-5 step" data-wizard-type="step-content">
                                                        <h5 class="mb-10 font-weight-bold text-dark">Termo de uso</h5>
                                                        <!--end::Wizard Step 2-->
                                                        <div class="form-group row">
                                                            <div class="col-lg-12 col-md-9 col-sm-12">
                                                                <textarea class="form-control" name="Term" id="Term" rows="20" disabled="disabled"></textarea>
                                                                <span>Ao se cadastrar, você concorda com os termos e condições aqui descritas.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--begin::Wizard Actions-->
                                                    <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                                        <div class="mr-2">
                                                            <button class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev">Anterior</button>
                                                        </div>
                                                        <div>
                                                            <button class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">Cadastrar</button>
                                                            <button class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next">Proximo</button>
                                                        </div>
                                                    </div>
                                                    <!--end::Wizard Actions-->
                                                </div>
                                            </div>
                                        </form>
                                        <!--end::Wizard Form-->
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Wizard-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@section Scripts{
    <script>var HOST_URL = "https://keenthemes.com/metronic/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#663259", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#F4E1F0", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="assets/js/pages/custom/user/add-user.js"></script>
    <script src="assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script src="~/scripts/ProfessionalProfile/createProfessionalProfile.js"></script>
    <script src="assets/js/pages/crud/forms/widgets/bootstrap-maxlength.js"></script>

}

