<!DOCTYPE html>
<!--
Autor: Keenthemes
Nome do Produto: Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme
Compra: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contato: support@keenthemes.com
Siga: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Curtir: www.facebook.com/keenthemes
Licença: Para cada uso, você deve ter uma licença válida adquirida apenas no link acima para usar legalmente o tema em seu projeto.
-->
<html lang="pt">
<!--begin::Head-->
<head>
    <base href="../../">
    <title>Metronic - o ecossistema de Tema de Administração Bootstrap mais vendido do mundo para HTML, Vue, React, Angular &amp; Laravel, por Keenthemes</title>
    <meta name="description" content="O Tema de Administração Bootstrap mais avançado no Themeforest, confiado por 94.000 iniciantes e profissionais. Multi-demo, Modo Escuro, suporte RTL e versões completas de React, Angular, Vue &amp; Laravel. Pegue sua cópia agora e obtenha atualizações vitalícias gratuitas." />
    <meta name="keywords" content="Metronic, bootstrap, bootstrap 5, Angular, VueJs, React, Laravel, temas de administração, design web, figma, desenvolvimento web, modelos gratuitos, temas de administração gratuitos, tema bootstrap, modelo bootstrap, painel bootstrap, modo escuro bootstrap, botão bootstrap, datepicker bootstrap, timepicker bootstrap, calendário completo, datatables, flaticon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metronic - Tema de Administração Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="Keenthemes | Metronic" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="bg-body">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Autenticação - Erro 500-->
        <div class="d-flex flex-column flex-column-fluid">
            <!--begin::Conteúdo-->
            <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
                <!--begin::Logo-->
                <a href="../../demo1/dist/index.html" class="mb-10 pt-lg-10">
                    <img alt="Logo" src="assets/media/logos/logo-1.svg" class="h-40px mb-5" />
                </a>
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div class="pt-lg-10 mb-10">
                    <!--begin::Logo-->
                    <h1 class="fw-bolder fs-2qx text-gray-800 mb-10">Erro no Sistema</h1>
                    <!--end::Logo-->
                    <!--begin::Message-->
                    <div class="fw-bold fs-3 text-muted mb-15">
                        Algo deu errado!
                        <br />Por favor, tente novamente mais tarde.
                    </div>
                    <!--end::Message-->
                    <!--begin::Action-->
                    <div class="text-center">
                        <a href="Produtos/listar" id="btnGoToHomePage" class="btn btn-lg btn-primary fw-bolder">Ir para a página inicial</a>
                    </div>
                    <!--end::Action-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Illustration-->
                <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(assets/media/illustrations/sketchy-1/17.png"></div>
                <!--end::Illustration-->
            </div>
            <!--end::Conteúdo-->
        </div>
        <!--end::Autenticação - Erro 500-->
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Adiciona um ouvinte de clique ao botão
            var btnGoToHomePage = document.getElementById('btnGoToHomePage');
            if (btnGoToHomePage) {
                btnGoToHomePage.addEventListener('click', function () {
                    // Redireciona para a rota Produtos/listar
                    window.location.href = 'Produtos/listar';
                });
            }
        });
    </script>
    <!--end::Main-->
    <script>var hostUrl = "assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>
