@model SistemaBico.API.Dtos.ResponseRazor.ListResponseRazor;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Cadastro de Fornecedores";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card mb-4">
    <div class="card-body">
        <a asp-area="" asp-controller="Fornecedores" asp-action="novo-fornecedor" class="btn btn-primary"><i class="fa fa-plus pull-right"></i> Adicionar Fornecedor</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-white font-weight-bold">
        Usuário(s) Cadastrado(s)
    </div>
    <div class="card-body">

        <div class="table-responsive" id="destroy">
            <table class="table table-striped" id="FornecedoresCadastrados">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">CPF/CNPJ</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Fornecedores)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@item.Telefone</td>
                            <td>@item.CpfCnpj</td>
                            <td>
                                <button class="btn btn-icon btn-primary" id="btnAlterar" onclick="Alterar('@item.Id')"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/scripts/exibirFornecedores.js"></script>
}
