@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SistemaBico.API.Dtos.ProdutoDto;

@{
    ViewData["Title"] = "Cadastro de Produtos";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card card-outline card-primary">
    <div class="card-content">
        <div class="card-header">
            <h4 class="modal-title">Inserir Produto</h4>

        </div>
        <div class="card-body">
            <div class="card-body">
                <form action="../Produtos/registrar" id="RegistrarProdutos" class="form d-flex flex-column flex-lg-row" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Nome do produto<b class="required">*</b></label>
                            <input type="text" class="form-control" required name="Nome" id="Nome" asp-for="Nome" maxlength="100" placeholder="Digite o nome do produto" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Observaçao </label>
                            <input type="text" class="form-control" name="Observacao" id="Observacao" asp-for="Observacao" maxlength="50" placeholder="Digite uma observação ex: Produto com pragas" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Tipo Produto<b class="required">*</b></label>
                            <select class="form-control" id="Tipo" name="Tipo" asp-for="Tipo" required>
                                <option value="1" selected>Semente</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Fornecedor<b class="required">*</b> </label>
                            <select class="form-control" id="FornecedorId" name="FornecedorId" asp-for="FornecedorId">
                                <option value="" selected>Selecione um fornecedor</option>
                                @foreach (var fornecedor in ViewBag.Fornecedores)
                                {
                                    <option value="@fornecedor.Id">@fornecedor.Nome</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Pureza(%)<b class="required">*</b> </label>
                            <input type="text" required class="form-control" name="Pureza" id="Pureza" asp-for="Pureza" maxlength="5" placeholder="Ex: 98,99" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Tetrazólio(%)<b class="required">*</b></label>
                            <input type="text" required class="form-control" name="Tetrazolio" id="Tetrazolio" asp-for="Tetrazolio" maxlength="2" placeholder="Ex: 50" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Quantidade de pontos<b class="required">*</b> </label>
                            <input type="text" required class="form-control" name="Quantidade" id="Quantidade" asp-for="Quantidade" maxlength="11" />
                            <div id="mensagemMotivo" style="color: red; margin-top: 5px;"></div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Valor Pago(Un.)<b class="required">*</b> </label>
                            <input type="text" required class="form-control" name="ValorUnitarioCompra" id="ValorUnitarioCompra" asp-for="ValorUnitarioCompra" maxlength="4" disabled />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Valor Total Pago(R$)</label>
                            <input type="text" class="form-control" name="txtValorTotal" id="txtValorTotal" maxlength="100" disabled />
                        </div>
                        <div class="form-group col-md-12">
                            <label>Descricao<b class="required">*</b></label>
                            <textarea class="form-control" required rows="6" Name="Descricao" asp-for="Descricao" placeholder="Digite sua descrição aqui..."></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Imagem do Produto</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="File" accept=".png, .jpg, .jpeg" asp-for="File" name="File">
                                <label class="custom-file-label" for="Imagem">Escolher arquivo</label>
                            </div>
                            <div class="mt-3">
                                <img id="previewImage" class="img-thumbnail" alt="Preview" style="display: none; max-width: 400px; max-height: 400px;">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <a asp-area="" asp-controller="Produtos" asp-action="listar" class="btn btn-primary col-md-2"> Voltar</a>
                            <button type="submit" class="btn btn-success col-md-2"> Salvar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/scripts/novoProduto.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
}
